#content{
  background-color: #f5f5f5;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
#alng1{
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#alng2{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
}
