<br>


<div class="stylist">

  <!-- stylist section start -->

  <div class="container">
    <div class="row">

      <div id="advance" class="col-sm-4">
        <app-advance-search></app-advance-search>
      </div>


      <div class="col-sm-8">
        <div class="row">

          <div class="col-sm-8">
            <div class="row">
              <div class="flex-center">
                <div id="calendar-container">
                  <div class="alng flex-center">
                    <a class="fa fa-chevron-left" (click)="previousMonth()"></a>
                    <a class="width-25px"></a>
                    <a class="alng">{{date.format("MMMM")}} {{date.format("YYYY")}}</a>
                    <a class="width-25px"></a>
                    <a class="fa fa-chevron-right" (click)="nextMonth()"></a>
                  </div>
                  <div class="height-20px"></div>
                  <div class="flex-column">
                    <button id="leave" class="calendar-days">Sun</button>
                    <button class="calendar-days">Mon</button>
                    <button class="calendar-days">Tue</button>
                    <button class="calendar-days">Wed</button>
                    <button class="calendar-days">Thu</button>
                    <button class="calendar-days">Fri</button>
                    <button class="calendar-days">Sat</button><br>
                    <div class="height-20px"></div>
                  </div>
                  <a class="flex-column" *ngFor = "let day of daysArr">
                      <button class="calendar-day" [disabled]="possibleDay(day)" (click)="selectedDate(day)" [ngClass] = "{'inactive':!day, 'today': todayCheck(day), 'busy': checkBusy(day)}">{{day?.date()}}</button>
                  </a>
               </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <br>
          <div *ngFor="let stylist of stylists">
          <div *ngIf="stylist.id == this.query.ss || stylist.first_name+' '+stylist.last_name == this.nam.nm">
              <div class="row">
                <a><h2 class="heading">{{stylist.first_name}} {{stylist.last_name}}</h2>
                  <img src="{{stylist.profile_pic_path}}" class="profile_picture"><br><p></p>

                </a>
              </div>

              <div class="row">
                <a>
                  Skills : <a *ngFor="let skill of skills"><a *ngIf="stylist.id == skill.stylist_id"><button class="skillbtn">{{skill.Skill}}</button>&nbsp;&nbsp;</a></a><br>
                  Preferred Location :- <a *ngFor="let location of locations"><a *ngIf="stylist.id == location.stylist_id"><button class="skillbtn1">{{location.location}}</button>&nbsp;&nbsp;</a></a><br>
                  <br><p>{{stylist.description}}</p>
                  Payment : <a *ngFor="let price of prices"><a *ngIf="stylist.id == price.stylist_id && price.time_slot == 'Morning'">{{price.charge}}</a></a> Per Morning.
                  Payment : <a *ngFor="let price of prices"><a *ngIf="stylist.id == price.stylist_id && price.time_slot == 'Evening'">{{price.charge}}</a></a> Per Evening.
                </a>
              </div>
            </div>
          </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm=8">
            <div class="bookform container">
              <div class="row">
                <div class="col-sm-9">
                  <br>
                  <input type="text" name="startdate" placeholder="Start Date"><br>
                  <div class="height-5px"></div>
                  <input type="text" name="enddate" placeholder="End Date"><br>
                  <div class="height-5px"></div>
                  <input type="radio" name="time" value="1">Morning &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="time" value="2">Evening
                </div>

                <div class="col-sm-3">
                  <br><br>
                  <input type="submit" name="submit" value="Book Now">
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  <!-- stylist section end -->
<br>
  <!-- other stylists list start -->


  <div class="row">
    <div class="col-sm-12">
          <app-filterred-stylist-set></app-filterred-stylist-set>
      </div>
    </div>
  </div>
</div>

  <!-- other stylist list end -->


