







<!-- <div class="home-section-background" data-stellar-background-ratio="0.6" ng-controller="swapSearch">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="header-text">
              <h3>LogIn Here </h3>
              <br>

              <h3><input type="text" placeholder="E-Mail"></h3><br>
              <h3><input type="text" placeholder="Password"></h3>

              <div class="margin-top-30">
                <a class="button button-style button-style-icon fa fa-long-arrow-right smoth-scroll">Sign In</a>
              </div>

              <div class="margin-top-0">
                <a class="jj">Forget Password?</a>

                <a class="ja">Not a User.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
