.box-devider{
  padding-top: 3px;
}
#stylist-list{
  width: 92%;
  height: auto;
  border-radius: 5px;
  padding-top: 10px;
  background-color: #D7DBDD;
}
.profile_picture{
  height: 150px;
  width: 120px;
  border-radius: 10px;
}
#design{
  padding-left: 100px;
}
#desg{
  padding-left: 25px;
}
.right{
  align-content: center;
}
#btd{
  border-radius: 5px;
  background-color: #1ab7ea;
  font-weight: bolder;
}
.box{
  width: 200px;
  border: none;
}
.skillbtn{
  background-color: #a6e1ec;
  width: auto;
  height: auto;
  border-radius: 15px;
  padding-right: 8px;
  padding-left: 8px;
}
.skillbtn1 {
  background-color: #ce8483;
  width: auto;
  height: auto;
  border-radius: 15px;
  padding-right: 8px;
  padding-left: 8px;
}
.price{
  color: #a94442;
}
