<div class="box-devider" *ngFor="let name of names">
  <div id="stylist-list" class="row">
    <div id="desg" class="col-sm-md-2">
      <a>
        <img src="{{name.profile_pic_path}}" class="profile_picture" /><br>
      </a>
    </div>
    <div id="design" class="col-sm-md-6">
      <a class="box">
        <h4>{{name.first_name}}&nbsp;&nbsp;
        {{name.last_name}}</h4>
        {{name.description}}<br>
        Stars :- {{name.rating}} *<br>
        Address :- {{name.address}}<br>
        The charge for Morning(8-12) :-<a *ngFor="let charge of charges"><a *ngIf="name.id == charge.stylist_id && charge.time_slot == 'Morning'">{{charge.charge}}</a></a><br>
        The charge for Evening(1-5) :-<a *ngFor="let charge of charges"><a *ngIf="name.id == charge.stylist_id && charge.time_slot == 'Evening'">{{charge.charge}}</a></a>
      </a>
    </div>
    <div class="col-sm-md-4">
      <div class="right">
        <button id="btd"><a routerLink="../stylist" [queryParams]="{ss: name.id}" class="btn btn-default">View Details</a></button>
      </div>
    </div>
  </div>
</div>
<br>
