  <div id="advance-serch">
    <form class="a-search">
      <h4>Search By,</h4>
      <p>Name</p>
      <input type="text" name="name" placeholder="Name">
      <p>Skill</p>
      <input type="text" list="skillss" name="skill" placeholder="Preferred Skill">
      <datalist id="skillss">
        <option value="Barber"></option>
        <option value="Dry Cutting"></option>
        <option value="Fading"></option>
        <option value="Makeup"></option>
        <option value="Shaving"></option>
      </datalist>
      <p>Start Date</p>
      <input type="date" name="date">
      <p>price</p>
      <input type="text" name="price" placeholder="Accepted Price">
      <p>Location</p>
      <input type="text" name="location" placeholder="Preferred Location">
      <p>Job Type</p>
      <select name="job_type">
        <option value="" selected disabled>I Need the,</option>
        <option name="educator">Educator</option>
        <option name="hair_stylist">Hair Stylist</option>
        <option name="assistant">Assistant</option>
      </select>
    </form>
  </div>
