
<div class="home-section-background" data-stellar-background-ratio="0.6">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="header-text">
              <h2>You Can Hire An Educator, An Assistant Or A HairStylist <span class="typing"></span> </h2><br>
              <p>To complete your Hair Styling Needs Perfectly...</p><br><br>
             <form>
               <h4>
                 <input type="radio" name="searchtype" value="Name" checked [(ngModel)]="radiobtsearch">  Search By Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <input type="radio" name="searchtype" value="Skill" [(ngModel)]="radiobtsearch">  Search By Skill
               </h4>

               <h2>
                 <input type="text" placeholder="Search the Stylist by {{radiobtsearch}}" [(ngModel)]="searchterm">
               </h2>
             </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Home & Menu Section End-->

<!-- Stylist page Start -->
<section id="testimonials" class="testimonial-section section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Stylists</h2>
          <p>The top Famous Highly rated Stylists in Trend</p>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-4">
        <div class="testimonial-carousel-list margin-top-20">

          <div class="testimonial-word text-center">
            <img src="{{name1.profilr_pic_path}}" class="img-responsive" alt="">
            <h2>{{name1.first_name}} {{naame1.last_name}}</h2>
            <p>{{name1.description}} </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="testimonial-carousel-list margin-top-20">

          <div class="testimonial-word text-center">
            <img src="images/logo/logo1.jpg" class="img-responsive" alt="">
            <h2>ggg</h2>
            <p>ooo</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="testimonial-carousel-list margin-top-20">

          <div class="testimonial-word text-center">
            <img src="images/logo/logo1.jpg" class="img-responsive" alt="">
            <h2>ioio</h2>
            <p>poipoi</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- stylist End -->


<!-- Services Start -->
<section id="services" class="services-section section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Our Services.</h2>
          <p>Through this platform we are providing several services to the Hair stylists and salons.</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <h3>To Salon</h3>
          <hr>
          <p>Can find a trending hair Stylist and book the Hair-Stylist to improve their hair styling demands from the customers.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <h3>To Stylist</h3>
          <hr>
          <p>Can get work opportunoties from several salons and can check the salon's profile to evaluate the high rated salons.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          <h3>To People</h3>
          <hr>
          <p>Can search both Salons and Stylists to fulfill their needs on Hair-Styling. Users can easily categorize the Hair-Stylists</p>
        </div>
      </div>



    </div>
  </div>
</section>


<!-- Services End -->

<!-- All Javascript Plugins  -->
<script type ="text/javascript" src ="../bower_components/angular/angular.js"></script>

<script type="text/javascript" src="css/plugin.css"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/plugin.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0HAKwKinpoFKNGUwRBgkrKhF-sIqFUNA"></script>

<!-- Main Javascript File  -->
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/swap-search.js"></script>




